body {
  background-color: #111a28;
  color: #fff;
  height: 90vh;
  margin-top: 50px;
}
h1 {
  font-size: 30px;
  display: flex;
  justify-content: space-around;
}

.passes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60vw;
  transform: scale(0.75, 0.75);
  font-size: 15px;
  margin: 30px;
  padding: 30px;
}
.pass {
  flex-basis: calc(100% / 3 - 10px);
  background-color: #fff;
  background-color: darksalmon;
  margin: 20px;
}
